body {
    font-family: Arial, sans-serif;
    background-image: url(backimg.jpeg);
    background-size: 150%;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #8ECAE6;
    box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.68);
    margin-top: 10%;
  }
  
  h1 {
    text-align: center;
    font-family: Comic Sans MS ,Comic Sans, cursive;
  }
  
  .input-section {
    display: flex;
    align-items: space;
    justify-content: space-evenly;
    margin-right: 0px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #F1FAEE;
    color: black;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #219EBC;
    flex: .20;
    transition: all .5s ease-out;
    color: white;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #22577A;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .completed {
    text-decoration: line-through;
    color: black;
  }
  .edit {
    color: #22577A;
    cursor: pointer;
  }
  .edit:hover{
    color: white;
  }
  i{
    font-size: 1.15rem;
  }
  .heading{
    transform: translateY(50px);
    font-size: 2.5rem;
    color:black;
    background-color: rgba(245, 245, 245, 0.643);
  }
 .sjcit{
  font-size: 100px;
  color: black;
  animation: 3s linear 1s infinite running slidein; ;
  text-align:center;
  margin-top: 80px;
 }
 .footsec{
  font-size:35px;
  color: brown;
  margin-left: 500px;
  margin-top: 80px;
 }